

body.fullscreen {
    overflow: hidden;
}

div#fullscreen {
    display: none;
    position: fixed;
    background: rgba(255,255,255,0.85);
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
}

div#fullscreen.on {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

div#fullscreen>* {
    max-width: 90vw;
    max-height: 70vh;
    height: auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

div#fullscreen[content-type="image"] video {
    display: none;
}

div#fullscreen[content-type="video"] img {
    display: none;
}

.caption{
    margin-top: 1rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-family: Menlo, monospace ;
    padding: 0.5rem;
}

.align-center, #fullscreen>video{
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
}

#fullscreen>video{
    border: none !important;
    width: 60vw;
    height: auto;
}

video.thumb{
    border: 1px solid black;
}

.thumb {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 0.5%;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

.thumb:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
